
@{
    ViewBag.Title = "_Servers";
}

<h2>_Servers</h2>

<div id="servers">
    <table>
        <tr>
            <td>1</td>
            <td><input type="text" name="server1"></td>
            <td>3</td>
            <td><input type="text" name="server6"></td>
        </tr>
        <tr>
            <td>2</td>
            <td><input type="text" name="server2"></td>
            <td>4</td>
            <td><input type="text" name="server7"></td>
        </tr>
    </table>
</div>
