body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*
css3.css
Project Dalek
Paul VanHerpen
Ashley Ortiz
Sophea Soeun
John Grijalva
CIS-440
Spring 2015
*/

.buttonbody {
	color:					#4169e1;
	font-family:			Calibri, Helvetica, Arial, Sans-serif;
	background-image:		url("../images/TableOutline.jpg");
	background-repeat:		no-repeat;
	position:				absolute;
    background-position:    left 20px top 50px;
	margin:					auto;
}

#header {
	font-size:				110%;
	clear:					both;
	border-bottom:			thin solid #4169e1;
	text-align:				center;
	margin-bottom: 			5px;
}

#logo img{
	position:				absolute;
	max-height:				300px;
	max-width:				300px;
	padding-left:			15px;
}
	
.sh1 {
	font-size:				125%;
	font-weight:			bold;
}

.sh2 {
	font-size:				110%;
	font-weight:			bold;
}

.open {
	background-color:		Green;
	font-size:				100%;
	font-weight:			bold;
	color:					white;
	width:					36px;
	height:					36px;
	text-align:				center;
	box-shadow:				0 0 1px #000;
	text-shadow:			0 0 1px #fff;
	border-radius:			3px;
}

.sat {
	background-color:		yellow;
	font-size:				100%;
	font-weight:			bold;
	color:					white;
	width:					36px;
	height:					36px;
	text-align:				center;
	box-shadow:				0 0 1px #000;
	text-shadow:			0 0 1px #fff;
	border-radius:			3px;
}

.dirty {
	background-color:		red;
	font-size:				100%;
	font-weight:			bold;
	color:					white;
	width:					36px;
	height:					36px;
	text-align:				center;
	box-shadow:				0 0 1px #000;
	text-shadow:			0 0 1px #fff;
	border-radius:			3px;
}

.reserved {
	background-color:		blue;
	font-size:				100%;
	font-weight:			bold;
	color:					white;
	width:					36px;
	height:					36px;
	text-align:				center;
	box-shadow:				0 0 1px #000;
	text-shadow:			0 0 1px #fff;
	border-radius:			3px;
}

