/*
css3.css
Project Dalek
Paul VanHerpen
Ashley Ortiz
Sophea Soeun
John Grijalva
CIS-440
Spring 2015
*/

body {
	color:					#4169e1;
	font-family:			Calibri, Helvetica, Arial, Sans-serif;
	background-image:		url("../images/TableOutline.jpg");
	background-repeat:		no-repeat;
	background-size:		90%;
	width:					95%;
	margin:					auto;
}


#header {
	font-size:				110%;
	clear:					both;
	border-bottom:			thin solid #4169e1;
	text-align:				center;
	margin-bottom: 			5px;
}

.sh1 {
	font-size:				125%;
	font-weight:			bold;
}

.sh2 {
	font-size:				110%;
	font-weight:			bold;
}

button {
	background-color:		Green;
}

select:required { background: #ff0; }

select:valid { background: #fff; }

select:focus:invalid { background: #f00; }

#footer {
	font-size:				60%;
	font-style:				italic;
	text-align:				center;
	border-top:				thin solid #4169e1;
	clear:					both;
	margin-top:				550px;
}

#footer img {
	width:					76px;
	height:					60px;
}

.submit { text-align: center; }

.submit input {
	color:					#ffffff;
	font-size:				95%;
	font-style:				italic;
	font-weight:			bold;
	background-color:		#11dd11;
	border-radius:			10px;
	box-shadow:				2px 2px 0px 0px rgba(17,238,17,.6);
}

.reset input { 
	background-color: 		#dd1111;
	border-radius:			10px;
	box-shadow:				2px 2px 0px 0px rgba(238,17,17,.4);
	}

.fh1 { 
	text-decoration:		underline;
	font-weight:			bold;
}

label {
	width:					11em;
	float:					left;
	text-align:				left;
}

a:link 		{ color:	#4169e1; 	}
a:hover		{ color:	#32cd32;	}
a:visited	{ color:	#bbbbbb;	}


.bold {font-weight:	bold;}


#footer a:link  { text-decoration: none; }

#icons {
	width:					80%;
	margin-top:				40px;
	text-align:				center;
	font-style:				italic;
	font-weight:			bold;
	margin-top:				45px;
	
}

#icons img {
	width:					222px;
	height:					222px;
	border:					none;
}

#11 {background-color: Blue; }